/* Hide scrollbar for Chrome, Safari and Opera */
.table-responsive::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table-responsive {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.order-product-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    border-radius: 8px;
}

.order-item-img {
    border: 1px solid #ddd;
    background: #f9f9f9;
}